@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["You have successfully logged out of the application."]</p>
</header>